#Dataset
kanji_images
kanji_images/*
kanji-diffusion/

#pre-trained models
stable-diffusion-v1-4
diffusers/*

#parquet files and csv
*.parquet
*.csv

#sd-v1-4.ckpt
*.ckpt

# delete mode 100644 annotations.parquet
# delete mode 100644 sd-v1-4.ckptannotations.parquet
